body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    background-color: yellow;
    border-style: solid;
    border-width: 3px;
    width:500px;
    position:absolute;
    left: 500px;
    outline-style: dotted;
    outline-color: crimson;
    outline-width: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}
img {
    outline-style:dashed;
    outline-color: crimson;
    outline-width: 2px;
    border: 3px solid rgb(0, 0, 0); 
    width: 150px;
    margin-top:10px;
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: underline ;
}
p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
#new{
    font-size: 40px;
    font-family:'Josefin Sans', sans-serif;
}
button{
    height:50px;
    width:100px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 21);
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-facebook {
    background: #00089d;
    color: white;
  }
  
  .fa-twitter {
    background: #8ed0ff;
    color: white;
  }
  .fa-google {
    background: #d73706;
    color: white;
    
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }